body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;



}




.nama {

    font-family: Arial;
    color: greenyellow;
    font-size: 70px;
    
    
}

.nama span {
    display: inline-block;
    transition: .5s;
}

.nama span:hover{

    transform:scale(2);

}
